<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Users </h1>
      <h2 class="subtitle pa1">This section is to be used just by admins </h2>
    </div>
  </div>
</section>

<div class="pv4">
<%= render @users %>
</div>

