<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> Edit session  </h1>
      <h2 class="subtitle">Modify your session by chosing the best time for yourself.</h2>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
 <%= render 'form', delivery: @delivery %>
</div>

