<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    body {
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      background: #f6f6f6;
      padding: 20px;
    }
  </style>
  
  <body>
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Edit session  </h1>
          <h2 class="subtitle">Welcome to DeliverForChange <%= @user.name %> </h2>
        </div>
      </div>
      
  </body>
</html>