



html,
body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  background-color: #F1EFEF;
  display: block;
}


.iframe{
  width: 425px;
  height: 350px; }

.map{ width: 40%; /* Set the width of the sidebar */
  float:left;
  padding: 20px; /* Some padding */
  margin-top: 10px;
  }
  
  
  
  @media screen and (max-width: 1023px) {

  .map{ 
    width: 80%; /* Set the width of the sidebar */
    float: none;
    margin: auto;
    display:block;
    padding: 20px; /* Some padding */
    margin-top: 10px;
  }

  .iframe{
    width: 100%;
    height: 250px; 
    border: 0;
    margin: auto;
    float: none;
    margin: auto;
    display:block;
  }
  }